/*Selector universal*/
*{
    padding:0px auto;
    margin:0px auto;
    font-family: sans-serif;      
    
}
html, body
{
    height: 100%;
}

/*Sección inicio*/
#boxOne{
    display:block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    height:100%;
    background:linear-gradient(180deg,#2471A3, #2980B9);
    margin-bottom:-57px;
}

/*Sección cifrado-decifrado y resultado*/
#boxTwo, #boxThree{
    display:none;
    padding-top: 80px;
    height:100%;
    background-color:#ECF0F1;
    padding-right:200px;
    padding-left:200px;
    margin-bottom:-57px;
}



/*Sección funcionamiento*/
#boxFour{
    display:none;
    padding-top: 80px;
}

/*Elementos del encabezado de página*/
#navbar {
    background-color:#2471A3;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    padding-top: 20px;
    height: 80px;
    z-index: 5;
}

#elementsNavbar li {
    list-style: none;
    display: inline-block;      
    padding-left: 60px;
 
} 
  
#elementsNavbar li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}
  
#elementsNavbar li a:hover{
    color: black;
}
  
#logo{
    height:15%;
    width: 15%;   
    vertical-align: middle;
}

#elementsNavbar li a{
    text-decoration: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}

#elementsNavbar li a:hover{
    color: white;
    font-weight: bold;
}

/*Elementos seccion 1*/

/*Imagen portada*/
#coverImage{   
    height:70%;
    width: 80%;     
    margin-top:90px;
    
}

#boxOne h1{
    padding-top:100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:36px;
    letter-spacing: 2px;
}

#boxOne p{ 
    padding-top:30px;
    padding-bottom: 20px;
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
    font-size:18px;
}

#btnUse{
    margin-top: 20px;
    cursor: pointer;
    background: #FF6F00;
    border: 2px solid #FF6F00;
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

#btnUse:hover{
    background: #DD2C00;
    border: 2px solid #DD2C00;
    color:#E0E0E0;
    font-weight: bold;    
}

/*Elementos sección 2*/
#boxTwo .row div, #boxThree .row div {
    background-color:white;
}

#useSimplyKey{
    color:#212121; 
    padding-top:120px;  
    padding-left:40px;
    text-align: justify;
}

#useSimplyKey h4{
  text-align: right;
}

#resultSimplyKey{
    color:#212121;
    padding-top:150px;  
    padding-left:40px;
    text-align: justify;     
    
}


#boxTwo .row .form{
    margin-left: 0px;	
	width:560px;
    padding-left:80px;
    text-align: center;
    
	     
}

#boxThree .row .form{
    margin-left: 0px;	
	width:560px;
    padding-left:80px;
    padding-top:100px;
    text-align: center;
	     
}

#offset{
    margin-top:130px;
    width:400px;    
    font-size: 16px;
    border-radius: 5px;
    color:#212121;
    text-align:center;

}

#text{
    margin-top:20px;
    width:400px;
    height:100px;
    font-size: 16px;
    resize:none;
    border-radius: 5px;
    color:#212121;
    text-align:center;

}

#btnEncode, #btnDecode{
    margin-top: 20px;
    cursor: pointer;
    background: #FF6F00;
    border: 2px solid #FF6F00;
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

#btnEncode:hover, #btnDecode:hover,#btnNewText:hover, #btnExit:hover{
    background: #DD2C00;
    border: 2px solid #DD2C00;
    color:#E0E0E0;
    font-weight: bold;    
}

#resultText{
    padding-top:30px;
    padding-bottom: 20px;    
    color: #212121;
    letter-spacing: 1px;
    line-height: 50px;
    font-size:22px;
    font-weight: bold;
    
}

/*Botones resultado*/
#btnNewText{
    margin-top: 30px;
    cursor: pointer;
    background: #FF6F00;
    border: 2px solid #FF6F00;
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

#btnExit{
    margin-top: 30px;
    text-decoration: none;
    background: #FF6F00;
    border: 2px solid #FF6F00;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 14.5px 81px;
    border-radius: 10px;
}

/*Elementos sección 4*/

#start{
    text-align: center; 
    background:linear-gradient(180deg,#2471A3, #2980B9);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    height:600px;
}

#start h1{
    padding-top:40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
    letter-spacing: 2px;
    line-height: 60px;
}

#start h3{
    padding-top:30px;
    padding-bottom: 20px;
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
    font-size:26px;
    padding-bottom: 120px;
    
}

#introduction{
    padding-top: 60px;
    padding-left: 100px;
    padding-bottom: 60px;
    
}

#introduction h4{
    padding-top:50px;
    color:#212121;
    text-transform: uppercase;
    padding-bottom:10px;
    font-weight: bold;
    letter-spacing: 2px;
}

#introduction p{
    
    color:#212121;
    line-height: 25px;
    padding-right: 20px;
        
}


#passwordGenerator{
    padding-top: 40px;
    padding-right: 120px;
    padding-bottom: 80px;
    background-color: #2980B9;
}

#passwordGenerator h4{
    padding-top:50px;
    color:white;
    text-transform: uppercase;
    padding-bottom:10px;
    font-weight: bold;
    letter-spacing: 2px;
}

#passwordGenerator p{
    
    color:white;
    line-height: 25px;
    padding-right: 20px;
        
}

#passwordGenerator ul li{
    
    color:white;
    line-height: 30px;
    padding-right: 20px;
    list-style-position: inside;
        
}


#textRestore{
    padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 80px;
    background-color: #F0F3F4;
}

#textRestore h4{
    padding-top:50px;
    color:#212121;
    text-transform: uppercase;
    padding-bottom:10px;
    font-weight: bold;
    letter-spacing: 1px;
}

#textRestore p{
    
    color:#212121;
    line-height: 25px;
    padding-right: 20px;
        
}

#imageUseSK{
padding-top:140px; 
}

#imageTextRestore{
    padding-top:50px; 
}

footer{
    background-color: #BDBDBD;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:14px;
    color:#424242;
    padding-left:100px;
}
.center-row{
    padding-bottom:57px;
    height: 100%
}

