/*Selector universal*/
*{
    padding:0px auto;
    margin:0px auto;
    font-family: sans-serif;      
    
}

/*Sección inicio*/
#boxOne{
    display:block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    height:520px;
    background:linear-gradient(180deg,#2471A3, #2980B9);
}

/*Sección cifrado-decifrado y resultado*/
#boxTwo, #boxThree{
    display:none;
    padding-top: 100px;
    height:520px;
    text-align: center; 
    background-image: url("image/background.jpg");  
    background-size: cover;    
    
}

/*Sección funcionamiento*/
#boxFour{
    display:none;
    padding-top: 100px;
   
}

/*Elementos del encabezado de página*/
#navbar {
    background-color:#2471A3;
    padding-left: 50px;
    padding-top: 5px;
    position: fixed;
    padding-top: 20px;
    height: 60px;
}
 
#elementsNavbar li {
    list-style: none;
    display: inline-block;      
    padding-left: 60px;
 
} 
  
#elementsNavbar li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}
  
#elementsNavbar li a:hover{
    color: black;
}
  
#logo{
    height:15%;
    width: 15%;   
    vertical-align: middle;
}

#elementsNavbar li a{
    text-decoration: none;
    display: inline;
    padding: 0px;
    margin: 0px;

}

#elementsNavbar li a:hover{
    color: white;
    font-weight: bold;
}

/*Elementos seccion 1*/
#boxOne h1{
    padding-top:80px;
    padding-right: 700px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:36px;
    letter-spacing: 2px;
}

#boxOne p{
    padding-top:30px;
    padding-bottom: 20px;
    padding-right: 700px;
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
    font-size:18px;

}

#btnUse{
    margin-top: 20px;
    cursor: pointer;
    background: #FF6F00;
    border: 2px solid #FF6F00;
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

#btnUse:hover{
    background: #DD2C00;
    border: 2px solid #DD2C00;
    color:#E0E0E0;
    font-weight: bold;    
}

#image{
    height:40%;
    width: 50%;   
    vertical-align: middle;
}

/*Elementos sección 2 y 3*/
.form{
    padding-top:100px;
    border: 2px solid #2980B9;
    background-color: #2980B9;
    fill-opacity: initial;
    text-align: center;
    padding: 60px;
	margin:10px;
	border-radius: 20px;
	width:300px;
	height: 350px;
	position:absolute;
    left:35%;
    
}

#offset{
    margin-top:30px;
    width:300px;    
    font-size: 16px;
    border-radius: 5px;
    color:#212121;
    text-align:center;

}

#text{
    margin-top:20px;
    width:300px;
    height:50px;
    font-size: 16px;
    resize:none;
    border-radius: 5px;
    color:#212121;
    text-align:center;

}

#btnEncode, #btnDecode{
    margin-top: 20px;
    cursor: pointer;
    background: #FF6F00;
    border: 2px solid #FF6F00;
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

#btnEncode:hover, #btnDecode:hover,#btnNewText:hover, #btnExit:hover{
    background: #DD2C00;
    border: 2px solid #DD2C00;
    color:#E0E0E0;
    font-weight: bold;    
}

#resultText{
    padding-top:20px;
    padding-bottom: 20px;    
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    font-size:22px;
    font-weight: bold;
}

/*Botones resultado*/
#btnNewText{
    margin-top: 100px;
    cursor: pointer;
    background: #FF6F00;
    border: 2px solid #FF6F00;
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

#btnExit{
    margin-top: 50px;
    text-decoration: none;
    background: #FF6F00;
    border: 2px solid #FF6F00;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 14.5px 81px;
    border-radius: 10px;
}

footer{
    background-color: #BDBDBD;
    padding-top:5px;
    padding-bottom: 15px;
    font-size:14px;
    color:#424242;
    
}

/*
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
*/